{@layout path="front" /}

{<content}

{@query type="bb:carousel" as="carousel"}
{#carousel}
        <h1>{title}</h1>
        <h2>{program}</h2>
	<div id="owl-example" class="owl-carousel">
			{#heroes}
			<div>
				<h3>{title}</h3>
				{@content id="{id}" as="hero"}
				{#hero}
					{summary}
					{#image}
						<img src="/preview/node/{id}/thumbnail_large?size=1024&mimetype=image/jpeg&force=true"/>
					{/image}
				{/hero}
				{/content}
			</div>
			{/heroes}
	</div>
{/carousel}
{/query}

{/content}
